body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4rem;
  display: grid;
  justify-items: center;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  margin-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.menu li {
  background-color: white;
  padding: 0.5rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.25rem;
  color: black;
  transition: 300ms;
}

.menu li:hover {
  background-color: gray;
}

.menu li:hover a {
  color: white;
}

.menu ul {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  max-width: 1000px;
  gap: 0.4rem;
}

.intro {
  display: grid;
  font-size: 1.3rem;
  text-align: right;
  align-self: center;
  justify-items: end;
  background: white;
  gap: 1rem;
  padding: 0 0.75rem;
}

.botao {
  background-color: #e21;
  color: #fff;
  padding: 1rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

article h2 {
  align-self: center;
  grid-column: 1/2;
  font-size: 4rem;
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  background: rgb(247, 247, 247);
  padding: 4rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9rem;
  padding: 0.2rem;
  margin: 2rem;
}

.item p {
  grid-column: 2;
}

.footer {
  margin-top: 1.2rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
  display: block;
  margin: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}
