body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  background: rgb(247, 247, 247);
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  margin-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.menu li {
  background-color: white;
  padding: 0.5rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  color: black;
  transition: 300ms;
}

.menu li:hover {
  border: 2px solid #e21;
}

.menu ul {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  gap: 0.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.introducao2 {
  background-color: #ffff;
}

.intro {
  display: grid;
  font-size: 1.3rem;
  text-align: right;
  align-self: center;
  justify-items: end;
  background: white;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #e21;
  right: -35px;
  top: -20px;
}

.botao {
  background-color: #e21;
  color: #fff;
  padding: 1rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  transition: 300ms;
}

.botao:hover {
  background: #a21441;
}

.subtituto {
  align-self: center;
  font-size: 4rem;
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  background-image: url(/img/onda.svg);
  padding: 0 0.25rem;
}

.explicando {
  font-size: 20px;
  padding: 40px;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.3rem 1.25rem;
  padding: 20px;
  border-left: 3px solid transparent;
}

.item,
li {
  margin: 0px;
}

.item:hover {
  border-left: 3px solid #e21;
}

.item p {
  grid-column: 2;
}

.item:nth-child(odd) {
  background-color: #f7f7f7;
}

.footer {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
  display: block;
  margin: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
}
